node_modules/
yarn-error.log/
.env

/server/**/*.js

/server/apollo/**/*.js 
/server/assets/**/*.js
/server/constants/**/*.js
/server/controlers/**/*.js
/server/data/**/*.js
/server/hooks/**/*.js
/server/mock_database/**/*.js

/server/models/**/*.js

/server/routes/**/*.js
/server/tests/**/*.js
/server/utils/**/*.js